*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: monospace;
    max-width: 100%;
    background: gray;
}

a:link, a:visited, a::after, a:hover{
    text-decoration: none;
    color: inherit;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 4vw;
    
}

.navbar p{
    font-size: 2rem;
}

.hero{
    margin-top: 5vh;
}
    
.hero p{
    font-size: 5rem;
    text-align: center;
}

@media (max-width: 600px){
    .navbar{
        flex-direction: column;
    }
    main{
        padding: 0 2%;
    }
    .hamburger{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 21px;
        background: transparent;
        border: none;
        cursor: pointer;
        padding: 0;
    }
    .hamburger .bar{
        height: 3px;
        width: 100%;
        background-color: #fff;
        border-radius: 10px;
        transition: all 0.3s ease-in-out;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(9px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-9px) rotate(-45deg);
    }
}

@media (min-width: 600px){
    .hamburger{
        display: none;
    }
    main{
        padding: 0 10% 0 10%;
    }
}