* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

 /*all links*/
a:link{
    text-decoration: underline;
    color: inherit;
}

a:visited{
    color: inherit;
}

a:hover{
    color: inherit;
}

a:active{
    color: inherit;
}

body {
    font-family: monospace;
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;


    background-color: #2e3440;
    color: #eceff4;
    padding: 1rem;
    text-align: center;
}

header a[href]{
    margin: 1vw;
}

.headerLinks a, .myName a{
    position: relative;
    display: inline-block;
    padding-bottom: 4px;
    text-decoration: none;
    transition: color 0.3 ease;
    font-size: 14px;
}

.headerLinks a::after, .myName a::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #bf616a;

    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s cubic-bezier(0.25, 1, 0.5, 1);
}

.headerLinks a:hover::after, .myName a:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

.container{
    display: flex;
    flex: 1;
}

aside{
    color: #ebcb8b;
    background-color: #3b4252;
    padding: 1vh;
    flex: 1;

    position: sticky;
    top: 0;
    align-self: flex-start;
    height: 100vh;
}

aside ul{
    list-style: none;
    text-align: right;
    margin-top: 10vh;
}

aside ul li{
    margin: 5vh;
}

aside ul li a{
    display: inline-block;
    transition: transform 0.3s ease, color 0.3s ease;
}

aside ul li a:hover{
    color: #bf616a;
    transform: translateX(-8px);
}

main {
    flex: 4;
    padding: 1rem;
    background-color: #4c566a;
    color: #eceff4;
}

main article{
    margin: 10vh;
}

main article a[href]{
    display: inline-block;
    position: relative;
    padding-bottom: 4px;
    text-decoration: none;
    transition: color 0.3 ease;
}

main article a[href]::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: 0;
    left: 0;
    background-color: #bf616a;

    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s cubic-bezier(0.25, 1, 0.5, 1);
}

main article a[href]:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

main h1[id]{
    scroll-margin-top: 10vh;
}

main p{
    font-size: 18px;
}

.title{
    margin-bottom: 4vh;
    font-size: 32px;
    color: #ebcb8b;
}

main a[href]{
    color: #8fbcbb;
}